:root {
	--navbar-background-color: grey;
	--navbar-text-color: black;
	--navbar-border-size: 2px;
	--navbar-border-style: solid;
	--navbar-border-color: black;
	--navbar-height: 100px;
	--navbar-position: fixed;
	--navbar-width: 100%;
	--navbar-margin-top: 0px;

}