#main-div {
    justify-content: center;
    align-items: center;
}

#login-container {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

#login-form, #otp-form, #signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form {
    height: 100%;
}

#otp-form {
    flex: 1;
}

.login-form-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-spacing {
    padding: 10px;
}

#resend-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-field-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}